{
    "openapi" : "3.0.0",
    "info" : {
      "description" : "O objetivo desta documentação é orientar o desenvolvedor sobre como integrar com a API Camalle, descrevendo as funcionalidades, os métodos a serem utilizados, listando informações a serem enviadas e recebidas, e provendo exemplos. Para utilização da API é necessário possuir o token de authenticação",
      "version" : "1.0.0",
      "title" : "Camalle",
      "contact" : {
        "email" : "contato@camalle.com.br"
      }
    },
    "servers" : [ {
      "url" : "https://api.camalle.com.br/api/v1/client"
    } ],
    "security" : [ {
      "bearerAuth" : [ ]
    } ],
    "paths" : {
      "/generate-quiz" : {
        "post" : {
          "tags" : [ "Criar novo questionário" ],
          "summary" : "cria um novo questionário",
          "description" : "Para criar um novo questionário para um respondente basta fazer um POST conforme o exemplo enviando seu token de de authenticação.",
          "operationId" : "createQuestionary",
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MessageData"
                }
              }
            },
            "description" : ""
          },
          "responses" : {
            "201" : {
              "description" : "item created"
            },
            "400" : {
              "description" : "invalid input, object invalid"
            },
            "409" : {
              "description" : "an existing item already exists"
            }
          }
        }
      },
      "/consult-report?respondent_email={respondent_email}" : {
        "get" : {
          "tags" : [ "Consultar relatório de um respondente" ],
          "summary" : "Faz a consulta de um relátorio",
          "description" : "Para fazer a consulta, basta enviar o endereço de email de um respondente que já tenha algum relatório na Camalle",
          "operationId" : "consultReport",
          "parameters": [
            {
              "name": "respondent_email",
              "in": "query",
              "description": "Email do respondente",
              "required": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [],
                "default": "available"
              },
              "collectionFormat": "multi"
            }
          ],
         
          "responses" : {
            "201" : {
              "description" : "item created"
            },
            "400" : {
              "description" : "invalid input, object invalid"
            },
            "409" : {
              "description" : "an existing item already exists"
            }
          }
        }
      }
    },
   
    "components" : {
      "securitySchemes" : {
        "bearerAuth" : {
          "type" : "http",
          "scheme" : "bearer",
          "bearerFormat" : "JWT"
        }
      },
      "schemas" : {
        "MessageData" : {
          "type" : "object",
          "required" : [ "content", "name", "respondent_email", "respondent_name", "subject" ],
          "properties" : {
            "name" : {
              "type" : "string",
              "example" : "<string>",
              "description" : "<string>"
            },
            "subject" : {
              "type" : "string",
              "example" : "<string>",
              "description" : "<string>"
            },
            "content" : {
              "type" : "string",
              "example" : "<string>",
              "description" : "<string>"
            },
            "view_report" : {
              "type" : "boolean",
              "example" : false,
              "description" : "Define se o respondente poderá visualizar o relatório no final do questionário"
            },
            "save_respondent" : {
              "type" : "boolean",
              "example" : false,
              "description" : "Com está opção habilitada o respondente será salvo na sua lista de respondentes"
            },
            "respondent_name" : {
              "type" : "string",
              "example" : "<string>"
            },
            "respondent_email" : {
              "type" : "string",
              "example" : "<string>"
            }
          }
        },
        "GetReport" : {
          "type" : "object",
          "required" : ["respondent_email"],
          "properties" : {
            "respondent_email" : {
              "type" : "string",
              "example" : "<string>",
              "description" : "<string>"
            }
          }
        }
      }
    }
  }